:root{
    --dark: #000000;
    --dark-light: #010207;
    --golden-brown: #E3A54F;
    --white: #FFFFFF;
    --font-handwrite: 'Dancing Script', cursive;
    --font-default: 'Roboto', sans-serif;
    --font-size-nav: 24px;
    --facebook-blue: #4267B2;
    --youtube-red: #FF0000;
    --linkedin-blue: #0072b1;
    --instagram-gradient: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
}

.material-icons {
    font-size: var(--font-size-nav) !important;
}

html {
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    background-color: var(--dark);
    font-family: var(--font-default);
    color: var(--white);
    overflow-x: hidden;
}

header {
    z-index: 99999;
    display: block;
    width: 100%;
    text-align: center;
    margin: 1rem 0;
    position: absolute;
    font-size: larger;
    overflow-x: hidden;

    transition: 0.5s ease-in-out;
}

section {
    margin-bottom: 2rem;
}

.signature {
    font-family: var(--font-handwrite);
    color:var(--golden-brown)
}

.section__thumb {
    height: 100vh;
    position: relative;
}

.section__thumb .background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/tomas_1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(75%) blur(1px) opacity(0.2);
}

.top-navigation ul{
    display: flex;
    justify-content: center;
    column-gap: 3rem;
    padding: 1rem 0;
}

.top-navigation li {
    display: inline-block;
    transition: 0.5s;
}

.top-navigation li.active, .top-navigation li.active a {
    color: var(--golden-brown);
}

.top-navigation li.active .option_underline, .top-navigation li:hover .option_underline {
    border-top: 2px solid var(--golden-brown);
    transform: translateX(100%);
}

.option_underline {
    width: 50%;
    border-top: 2px solid white;

    transition: 0.5s;
}

.top-navigation li:hover {
    color: var(--golden-brown) !important;
    cursor: pointer;
}

.data-container {
    display: flex;
    justify-content: space-between;
    padding: 10rem 5rem;
}

.personal-data {
    font-family: var(--font-default);
    font-weight: 300;
    font-size: 68px;
    padding: 1rem;
    border-right: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
    width: 300px;
}

/*****/
section{
    text-align: center;
}

section > h2, .title{
    font-size: 48px;
    font-family: var(--font-handwrite);
    color: var(--golden-brown);
    font-weight: 400;
    margin-bottom: 2rem;
}

.section__about, .section__awards, .section__incoming-events, .section__social-media {
    
    margin-left: 10%;
    margin-right: 10%;
}

.section__about .section-content {
    text-align: left;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.section__about .profile {
    min-width: 30%;

}

.section__about .profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 45% 50%;
}

.section__about .info {
    text-justify: distribute;
}

/*****/

.section__awards .section-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 120rem;
    padding-bottom: 3rem;
    width: 100%;
}

.section__awards .section-content .award-card {
    width: 500px;
    min-height: 200px;
    margin: 0 10px 20px;
    padding: 1rem;
    border: 1px solid var(--golden-brown);
}

.award-card .award-img {
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 1px solid beige
}

.award-card .award-info {
    display: inline-block;
    text-align: left;
}

/*****/
.section__social-media .section-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 120rem;
    padding-bottom: 3rem;
    gap: 3rem;
    width: 100%;
}

.social-card {
    min-width: 200px;
    min-height: 300px;
    margin: 0 10px 20px;
    padding: 1rem;
    border: 1px solid var(--golden-brown);
}

.social-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    gap: 1rem;
    transition: 0.5s;
}

i {
    font-size: 48px;
    color: var(--white);
    
    transition: 0.5s;
}

i:hover {
    color: var(--golden-brown);
}

/* #icon-youtube:hover {
    color: var(--golden-brown);
}

#icon-linkedin:hover {
    color: var(--linkedin-blue)
}

#icon-instagram:hover {
    /* 
   background:-moz-linear-gradient(top, #e72c83 0%, #a742c6 100%); 
   background: -webkit-linear-gradient(top, #e72c83 0%,#a742c6 100%);  
   background: var(--instagram-gradient);
   -webkit-background-clip: text;
   -moz-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color:transparent;
} */

/** Fixed bottom nav**/

.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 60%, rgba(0,0,0,0.8589810924369747) 90%, rgba(0,0,0,0) 100%);
    display: none;
    flex-wrap: wrap;

    transition: 0.5s ease-in-out;
}

@media only screen and (max-width: 600px) {
    .bottom-nav {
        display: flex;
    }

    header {
        font-size: 48px;
    }

    header nav {
        display: none;
    }

    .section__social-media .section-content {
    }
}

.bottom-nav .item {
    flex: 1 0 50px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-nav .item i {
    font-size: 40px;
}

/*****/
.floating-navigation{
}

.floating-navigation li {
}

a {
    color: var(--white);
    text-decoration: none;
    color: inherit;
}

.floating-navigation li:hover {
    text-decoration: none;
}

.custom-slide {
    text-align: center;
    width: 100% !important;
    min-height: 300px;
    border: 2px solid var(--golden-brown);
}